@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: sans-serif;
}

::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: bg-secondary-content;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ffffff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #a1a1a1;
}

.home {
    min-height: 75vh;
}

.home_info {
    margin-top: 8rem;
}

.home button {
    width: 9rem;
    font-size: large;
    height: 3rem;
}

.carousel div img {
    min-height: 70vh;
}

/* Hire */


/* jobApply.jsx */
.required-asterisk {
    color: red;
    margin-left: 0.15rem;
}

/* footer */
/* footer {
    position: relative;
    bottom: 0 !important;
} */

/* Modal */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-box {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}